<header id="header" class="header d-flex align-items-center fixed-top"
        th:fragment="siteHeader" xmlns:th="http://www.thymeleaf.org">

    <link th:href="@{/css/footer.css}" rel="stylesheet" />

    <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a th:onclick="'window.location.href=\'' + @{${WebUrl.EVENT_URL}} + '\';'"
           class="logo d-flex align-items-center me-auto me-xl-0">
            <img th:src="@{/images/event_logo_new.png}" alt="DAT Event Club Logo" class="logo"/>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a onclick="setUpHeaderLink(this);"
                       th:classappend="${currentUrl == contextPath + WebUrl.EVENT_URL}? 'active-link' : ''"
                       th:data-current="${currentUrl}" th:data-target="@{${WebUrl.EVENT_URL}}">HOME</a></li>
                <li><a onclick="setUpHeaderLink(this);"
                       th:classappend="${currentUrl == contextPath + WebUrl.STAFF_BIRTHDAY_URL}? 'active-link' : ''"
                       th:data-current="${currentUrl}" th:data-target="@{${WebUrl.STAFF_BIRTHDAY_URL}}">BIRTHDAY</a>
                </li>
                <li><a onclick="setUpHeaderLink(this);"
                       th:classappend="${currentUrl == contextPath + WebUrl.EVENTS_URL}? 'active-link' : ''"
                       th:data-current="${currentUrl}" th:data-target="@{${WebUrl.EVENTS_URL}}">ALL PARTICIPANTS</a>
                </li>
                <li><a onclick="setUpHeaderLink(this);"
                       th:classappend="${currentUrl == contextPath + WebUrl.STAFFS_URL}? 'active-link' : ''"
                       th:data-current="${currentUrl}" th:data-target="@{${WebUrl.STAFFS_URL}}" th:if="${IsAdmin}">STAFFS</a>
                </li>
                <li><a onclick="setUpHeaderLink(this);"
                       th:classappend="${currentUrl == contextPath + WebUrl.EVENT_CREATE_URL}? 'active-link' : ''"
                       th:data-current="${currentUrl}" th:data-target="@{${WebUrl.EVENT_CREATE_URL}}"
                       th:if="${IsAdmin}">CREATE EVENT</a></li>
            </ul>
            <i class="mobile-nav-toggle me-4 d-xl-none bi bi-list"></i>
        </nav>

        <div class="grid-container">
            <div class="label btn staffName" style="cursor: default;"><span th:text="${StaffName}"></span></div>
            <a th:onclick="'handleLogout(\'' + @{${WebUrl.LOGOUT_URL}} + '\');'">
                <div class="icon btn logout"><i class="bi bi-box-arrow-right"></i></div>
            </a>
        </div>

        <script th:src="@{/js/confirm-box-and-common-css-controller.js}"></script>
        <script>
            async function handleLogout(url) {
                if (await confirmAction("Are you sure you want to logout?", { title: "Logout confirmation!", variant: "default" })) {
                    window.location.href = url;
                }
            }
        </script>

    </div>
</header>



