.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
  border: 1px solid #dee2e6;
  padding: 8px;
  transition: background 0.2s;
}
button {
    padding: 6px 12px;
    font-size: 16px;
}
input[type="time"] {
    width: 100px;
}

.wizard-step {
  display: none;
}

.wizard-step.active {
  display: block;
}

.wizard-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0; /* Ensure no outside gaps */
    border-radius: 10px;
}

.wizard-step-link {
    flex: 1; /* Equal width for all steps */
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-weight: 600;
    color: #555;
    background: #f1f5f9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease;
    border-radius: 0; /* No gap between steps */
}

.wizard-step-link:first-child {
    border-radius: 10px;
}

.wizard-step-link:last-child {
   border-radius: 10px;
}

.wizard-step-link .step-number {
    background: #cbd5e1;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

.wizard-step-link:hover {
    background: #e2e8f0;
    transform: translateY(-2px);
}

.wizard-step-link.active {
    background: #1f899d;
    color: white;
}

.wizard-step-link.active .step-number {
    background: white;
    color: #0d6efd;
}

th.time-slot {
  background-color: #f8f9fa;
  font-weight: bold;
  width: 100px;
}

input[type="time"] {
    width: 150px; /* wider to show full time with AM/PM */
}

.add-btn-td {
    vertical-align: text-top;
}
@-moz-document url-prefix() {
    input[type="time"] {
        background: url('../icon/clock.svg') no-repeat right 10px center;
        background-size: 16px;
        padding-right: 30px;
        -moz-appearance: textfield; /* Remove native styling */
    }
}


