footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    z-index: 1000;
}

a {
    cursor: pointer;
}