footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    z-index: 1000;
}

a {
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2.5px;
}

.label {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.icon {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

