* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    background-color: #f4f7ff;
}

.container-fluid {
  display: flex;
  height: 100vh; /* full page height */
  padding: 0; /* no extra space */
}

#fireworks {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* so clicks pass through */
    z-index: 2;
}

.left {
  position: relative;
  flex: 1;
  min-height: 100%;
  overflow: hidden;
}

.left img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}


.right {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background: linear-gradient(180deg, #fff085, #799EFF, #FFFCFB);
    animation: gradientShift 10s ease infinite;
    overflow: hidden;
    height: 100vh;
}

.left, .right {
  flex: 1; /* split evenly */
}

.login-form {
    z-index: 2;
    position: relative;
    width: 100%;
    max-width: 380px;
    margin-top: auto;
    margin-bottom: 25em;
}

.star-field {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.star {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) scale(0.5);
        opacity: 0;
    }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.login-form h2 {
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
}

.input-field {
    margin-bottom: 20px;
}

.input-field input {
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    outline: none;
}

.input-field input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.error-message {
    display: block;
    height: 18px;
    color: white;
    text-align : center;
    margin-bottom : 20px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #6a7dfe, #21d4fd);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: linear-gradient(to right, #5d6efd, #1ecfff);
    box-shadow: 0 4px 15px rgba(106, 125, 254, 0.4);
}

@media (max-width: 768px) {
    .left, .right {
        flex: 100%;
    }
    .left {
        min-height: 200px;
    }
}