li:hover{
    color: skyblue;
}

.active-link{
    color: skyblue;
    cursor: default;
}

.table-list thead th {
    position: sticky;
    top: 0;
    background: #1f5399;
    color: white;
}

th, td {
    text-align: center;
    vertical-align: middle;
}