.schedule-table thead th {
    position: sticky;
    top: 0;
    background: #1f5399;
    color: white;
}

.schedule-table td,
.schedule-table th {
    vertical-align: middle;
    text-align : center;
}

.btn-submit {
    background: #1f5399;
}

.page-title {
    position: relative;
    overflow: hidden;
    height: 300px; /* adjust height */
}

.page-title .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* keeps video covering background */
    z-index: 0;
}

.page-title .content {
    position: relative;
    z-index: 1;
    color: white; /* make text visible */
}

.book-btn{
    color: var(--accent-2);
    background-color: transparent;
    border: none;
}