<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Event Planner</title>
    <link th:href="@{./images/DAT Logo.png}" rel="icon">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/event-calendar.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>
    <link th:href="@{/css/toast.min.css}" rel="stylesheet"/>
</head>
<body class="registration">

<div th:replace="~{fragments/header :: header}"></div>

<main class="main" style="padding-bottom: 50px;">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade"
         style="background-image: url(./images/DSC_0694.JPG);">
        <div class="position-relative">
            <h1>Event Registration</h1>
        </div>
    </div>

    <div class="container my-5">
        <div class="wizard-nav">
            <div id="navStep1" class="wizard-step-link active" onclick="goToStep(1)">Event Details</div>
            <div id="navStep2" class="wizard-step-link" onclick="goToStep(2)">Event Schedules</div>
        </div>

        <form id="eventForm" th:action="@{/event-create}" method="POST" enctype="multipart/form-data" novalidate>
            <div id="wizard">
                <!-- Step 1: Event Details -->
                <div class="wizard-step active" id="step1">
                    <div class="mb-3">
                        <label for="eventName" class="form-label">Event Name <span class="text-danger">*</span></label>
                        <input type="text" id="eventName" name="eventName" class="form-control" placeholder="Enter Event Name" required/>
                    </div>

                    <div class="mb-3">
                        <label for="eventPhoto" class="form-label">Event Photo <span class="text-danger">*</span></label>
                        <input type="file" id="eventPhoto" name="eventPhoto" class="form-control" accept="image/*" required/>
                    </div>

                    <div class="mb-3">
                        <label for="eventDesc" class="form-label">Description</label>
                        <textarea id="eventDesc" name="eventDesc" class="form-control" rows="3" placeholder="Optional description"></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="inchargePerson" class="form-label">Incharge Person <span  class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="text" data-id="" id="inchargePerson" name="inchargePerson" class="form-control" placeholder="Select person"
                                   onclick="document.getElementById('inchargePersonBtn').click();" readonly required/>
                            <button type="button" class="btn btn-outline-secondary" id="inchargePersonBtn" data-bs-toggle="modal" data-bs-target="#personModal">
                                <i class="bi bi-plus-lg"></i>
                            </button>
                        </div>
                    </div>

                    <div class="mb-3">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#memberModal">Add Supported Member
                        </button>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Member</th>
                                <th>Month</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody id="supportedList"></tbody>
                        </table>
                    </div>

                    <div class="text-end">
                        <button type="button" class="btn btn-primary" style="width: 125px;" onclick="goToStep(2)">Next</button>
                    </div>
                </div>

                <!-- Incharge Person Modal -->
                <div class="modal fade" id="personModal" tabindex="-1" aria-labelledby="personModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="personModalLabel">Select Incharge Person</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label for="personSearch"></label><input type="text" id="personSearch"
                                                                         class="form-control mb-3"
                                                                         placeholder="Search by name..."
                                                                         autocomplete="off"/>
                                <ul id="personList" class="list-group">
                                    <li th:each="staff : ${staffs}" class="list-group-item list-group-item-action"
                                        th:text="${staff.name}" th:data-id="${staff.staffId}" style="cursor:pointer"
                                        onclick="selectIncharge(this)">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Support Member Modal -->
                <div class="modal fade" id="memberModal" tabindex="-1" aria-labelledby="memberModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="memberModalLabel">Add Support Member</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <label for="memberSearch"></label><input type="text" id="memberSearch"
                                                                         class="form-control mb-3"
                                                                         placeholder="Search member..."
                                                                         autocomplete="off"/>
                                <ul id="memberList" class="list-group mb-3">
                                    <li th:each="member : ${staffs}"
                                        class="list-group-item list-group-item-action"
                                        th:text="${member.name}"
                                        th:data-id="${member.staffId}"
                                        style="cursor:pointer"
                                        onclick="selectMember(this)">
                                    </li>
                                </ul>
                                <label for="monthSelect" class="form-label">Month</label>
                                <select id="monthSelect" name="monthSelect" class="form-select mb-3" required>
                                    <option value="" selected>--Select Month--</option>
                                    <option>January</option>
                                    <option>February</option>
                                    <option>March</option>
                                    <option>April</option>
                                    <option>May</option>
                                    <option>June</option>
                                    <option>July</option>
                                    <option>August</option>
                                    <option>September</option>
                                    <option>October</option>
                                    <option>November</option>
                                    <option>December</option>
                                </select>
                                <input type="hidden" id="selectedMember"/>
                                <button type="button" class="btn btn-success w-100" id="addMemberBtn">Add Member</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Step 2: Select Time Slots -->
                <div class="wizard-step" id="step2">
                    <div class="d-flex justify-content-between mb-2">
                        <button class="btn btn-outline-primary border border-primary" type="button" id="prevWeekBtn"> ←
                            Previous Week
                        </button>
                        <button class="btn btn-outline-primary border border-primary" type="button" id="nextWeekBtn">
                            Next Week →
                        </button>
                    </div>
                    <table class="table table-bordered" id="timeSlotTable">
                        <thead>
                        <tr id="headerRow">
                            <th>Day</th>
                            <th colspan="2" class="col">Time Slots (hh:mm A)</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody id="tableBody"></tbody>
                    </table>

                    <div class="d-flex justify-content-between mt-3">
                        <button type="button" class="btn btn-secondary" style="width: 125px;" onclick="goToStep(1)">Back</button>
                        <button type="button" class="btn btn-success" style="width: 125px;" onclick="submitEvent()">Submit Event</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/event-calendar.js}"></script>
<script th:src="@{/js/commonUtility.js}"></script>
<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/toast.min.js}"></script>
<script th:src="@{/js/toast-config.js}"></script>

<script>
    var message = '[[${param.message}]]';
    var messageType = '[[${param.messageType}]]';
</script>

</body>
</html>
