<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Participant List</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link th:href="@{./images/DAT Logo.png}" rel="icon">

    <!-- Vendor CSS Files -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">

    <!-- Main CSS File -->
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link th:href="@{/css/pagination.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">

</head>

<body class="event-list">

    <div th:replace="~{fragments/header :: header}"></div>

    <main class="main" style="padding-bottom: 50px;">

        <!-- Page Title -->
        <div class="page-title dark-background" data-aos="fade"
             style="background-image: url(./images/event_list.png);">
            <div class="container position-relative">
                <h1>Participant List</h1>
            </div>
        </div>

        <div class="">
            <div class="d-flex justify-content-between m-3 align-items-center">
                <div>
                    <p>There are <span id="count"></span> <span id="participant-text"></span>.</p>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <select id="activity" name="activity" class="form-control">
                            <option value="">Select an Event</option>
                            <option th:each="eve : ${events}"
                                    th:value="${eve.name}"
                                    th:text="${eve.name}"></option>
                        </select>
                    </div>
                    <div>
                        <button id="searchBtn" class="btn confirm ms-2" type="button">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                    <div class="ms-2">
                        <input class="form-control" name="keyword" id="search" placeholder="Search ...">
                    </div>
                    <div>
                        <button class="btn confirm ms-2" id="export"
                                onclick="exportData(document.getElementById('search').value, document.getElementById('activity').value);" type="button">
                            <svg class="bi bi-download" fill="currentColor" height="16" viewBox="0 0 16 16" width="16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"></path>
                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"></path>
                            </svg>
                            Excel Export
                        </button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-list custom-bordered-table">
                <thead>
                     <th>No. </th>
                     <th>Event</th>
                     <th>Schedule Date/Time</th>
                     <th>Staff-ID</th>
                     <th>Staff Name</th>
                </thead>
                <tbody id="staffTableBody"></tbody>
            </table>

            <nav aria-label="Staff pagination">
                <ul class="pagination justify-content-center" id="pagination"></ul>
            </nav>
        </div>
    </main>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>
    <script th:src="@{/assets/vendor/aos/aos.js}"></script>
    <script th:src="@{/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
    <script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
    <script th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
    <script th:src="@{/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js}"></script>
    <script th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>

    <script th:src="@{/js/participant-list.js}"></script>


    <div th:replace="~{fragments/footer :: footer}"></div>
    <!-- Main JS File -->
    <script th:src="@{/assets/js/main.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <!-- data js -->
    <script>
        const exportUrl = '[[@{${WebUrl.EVENT_STAFF_DOWNLOAD_URL}}]]';
    </script>
</body>
</html>