<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link th:href="@{./images/DAT Logo.png}" rel="icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/login-new.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link th:href="@{/css/toast.min.css}" rel="stylesheet">
</head>

<body>

    <div class="login-container">
        <div>
            <img th:src="@{./images/event_logo.png}" alt="DAT Event Club Logo" class="logo"/>
            <!--<h1>WELCOME TO</h1>-->
            <h3>DAT EVENT CLUB</h3>
        </div>
        <form th:action="@{/login}" method="post">
            <input type="text" name="username" placeholder="Staff ID" autocomplete="off" required />
            <input type="password" name="password" placeholder="Password" autocomplete="new-password" required />
            <button type="submit" class="login-btn">Login</button>
        </form>
    </div>

    <!-- toast -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/toast.min.js}"></script>
    <script th:src="@{/js/toast-config.js}"></script>
    <!-- toast -->
    <div th:replace="~{fragments/footer :: footer}"></div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script>
        var redirectMessage = '[[${message}]]';
        var redirectMessageType = '[[${messageType}]]';
    </script>
</body>
</html>